#
# APPLICATION
#
APP_NAME=rangger-server
APP_SCHEMA=http
APP_HOST=127.0.0.1
APP_PORT=3000
APP_ROUTE_PREFIX=/rangger
APP_BANNER=true
DATA_DIR=../data
JWT_SECRET=558d3107264f726bf1c162b12c97b1d88ab3831c2e0905eb2b34095317a02445c30be9ebc572b3dc6e1d3f552bff1a30ddcf346429d279a02356e262edafca58


#
# LOGGING
#
LOG_LEVEL=debug
LOG_OUTPUT=dev

# MySQL DATABASE

TYPEORM_CONNECTION=mysql
TYPEORM_HOST=localhost
TYPEORM_PORT=3306
TYPEORM_USERNAME=root
TYPEORM_PASSWORD=password
TYPEORM_DATABASE=database_rangger
TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=error
TYPEORM_LOGGER=advanced-console

#
# PATH STRUCTRUE
#
TYPEORM_MIGRATIONS=src/database/migrations/**/*.ts
TYPEORM_MIGRATIONS_DIR=src/database/migrations
TYPEORM_ENTITIES=src/api/models/**/*.ts
TYPEORM_ENTITIES_DIR=src/api/models
CONTROLLERS=src/api/controllers/**/*Controller.ts
MIDDLEWARES=src/api/middlewares/**/*Middleware.ts
INTERCEPTORS=src/api/interceptors/**/*Interceptor.ts
SUBSCRIBERS=src/api/subscribers/**/*Subscriber.ts
RESOLVERS=src/api/resolvers/**/*Resolver.ts

#
# Swagger
#
SWAGGER_ENABLED=true
SWAGGER_ROUTE=/swagger
SWAGGER_FILE=api/swagger.json
SWAGGER_USERNAME=admin
SWAGGER_PASSWORD=1234

#
# Status Monitor
#
MONITOR_ENABLED=true
MONITOR_ROUTE=/monitor
MONITOR_USERNAME=admin
MONITOR_PASSWORD=1234
